<div class="flex flex-row flex-wrap bg-gray-900">

    <div class="basis-2/6 bg-zinc-800 rounded-md">
        <img src="assets/images/MPong.png" alt="Multi Pong Image">
        <div class="p-3 pl-1">
            <h1 class="text-lg">Multi Pong</h1>
            <p class="text-base">
                Created using godot mono. Uses webassmebly and WebGL.
            </p>
            <a class="text-blue-500 hover:text-blue-800 hover:bg-zinc-900 rounded-lg p-2"
                href="https://prodstacvwebsite.z6.web.core.windows.net/" mat-button>Play</a>
            <a class="text-blue-500 hover:text-blue-800 hover:bg-zinc-900 rounded-lg p-2"
                href="https://github.com/nichitacebotari0/MPong" mat-button>Github</a>
        </div>
    </div>



</div>